.header {
    background-color: black;
    width: 100%;
    height: 72px;
    vertical-align: middle;
}
.header img{
    vertical-align: middle;
}

.header span {
    display: inline-block;
    background-color: black;
    font-weight: bold;
    font-size: 150%;
    color: red;

}