<div class="statcard" contenteditable="true"  style="width:400px; font-family:Arial,Helvetica,sans-serif;font-size:13px;">
    <div class="name">{{spell.name | titleCase}}</div>
    <div class="description"><span>{{spell.level}}</span><span ng-hide="spell.level==='Cantrip'"> level</span><span> {{spell.school}}</span><span ng-show="spell.ritual"> (ritual)</span>
 </div>

    <div class="gradient"></div>

    <div> <span class="bold">Casting Time: </span><span>{{spell.castingTime}}</span></div>
    <div> <span class="bold">Range: </span><span>{{spell.range}}</span></div>
    <div> <span class="bold">Duration: </span>
        <span ng-show="spell.concentration">Concentration, </span>
        <span>{{spell.duration}}</span>
    </div>

    <div><span class="bold">Components:</span>
        <span ng-show="spell.verbal"> V</span>
        <span ng-show="spell.somatic"> S</span>
        <span ng-show="spell.material"> M: {{spell.material}}</span>
    </div>

    <div class="gradient"></div>

    <div>{{spell.desc}}</div>

</div>

